<p id="notice"><%= notice %></p>
<script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyBg_AOpFhWzNWRzhyaM1l_MC3J85fRfavk"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

 <%= render "layouts/member_sidebar" %>
 </div>
           <div class="col-sm-10">
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm">
                             <div class="form-group">
    
                          <br>
                               <%= form_tag(searching_path, {:method => 'get'}) do %>
                                        <div class="input-group mb-3">
                                       
                                            <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1">@</span>
                                    
                                                  <%= text_field_tag(:search, params[:search], placeholder: "Enter a City name", :class=>"form-control col-sm-8") %>
                                                  <%= date_field_tag(:booking_date, params[:booking_date], placeholder: "",:class=>"ml-3" , min: Date.today)%>
                                                  <%= time_field_tag(:start_time, params[:start_time], placeholder: "Enter a date",:class=>"ml-3" )%>
                                                  <%= time_field_tag(:end_time, params[:end_time], placeholder: "Enter a date",:class=>"ml-3" )%>
                                                  <%= submit_tag('Search', :name => nil,:class=>"ml-5", :class=> "btn btn-primary ml-3") %>
                                            </div>
                                              
                                        </div>


                               <% end %>
                               </div>
                           </div>
    
                           </div>
                      
                           <div class="row">
                              <div class="col-sm-4">
                                   <h1>List View</h1>
                                    <ul class="list-group" style="height:800px; overflow:scroll"> 
                                    <%
                                    if @start_time && @end_time
                                    i=0 
                                    @aftersearchbydayandaddress.each do |s| %>

                                    <li class="list-group-item">
                                    <div class="media">

                                    <%= image_tag 'location11.jpg',:class =>"media-object media-left" ,size:"100x100"%>
                                    <div class="media-body media-right">
                                    <% space=Space.find_by_id(s.space_id) %>
                                   <span > Name:</span> <%= space.space_name %><br>

                                    Address:<%=  s.house_number  %><%=  s.street  %><%= s.city%> <%= s.state %><%= (s.pincode)%>
                                    <br>
                                    Near:<%= space.nearby_landmark%>
                                    
                                   
                                    <br>
                                    Size:<%= space.size %> sq ft.
                                  
                                    <%

                                    @start_time=params['start_time']
                                    @end_time=params['end_time']

                                      @user_id= session[:user_id]
                                      @m=@aftersearchbydayandaddress.pluck(:space_id)
                                      @booking_time_calculate=(Time.parse(params['end_time'])  - Time.parse(params['start_time'])) /1.hour

                                      

                                    
                                    if(MemberSubscription.where("space_id = ? and user_id=?",@m[i],@user_id).blank?) %>
                                        <%= link_to 'Get a membership', "membershipindex?space_id=#{@m[i]}&user_id=#{@user_id}&booking_time=#{@booking_time_calculate}", :class=> "btn btn-danger", :style=>"margin-top: 17px;bottom:0;float:right"%>
                                      
                                        <%
                                          i=i+1
                                    
                                    %><%
                                      else
                                        %>
                                      
                                        <%if(MemberSubscription.where("space_id = ? and user_id=? and time_wallet>= ?",@m[i],@user_id,@booking_time_calculate).blank?)%>
                                               <%= link_to 'Get a membership', "membershipindex?space_id=#{@m[i]}&user_id=#{@user_id}&booking_time=#{@booking_time_calculate}", :class=> "btn btn-danger", :style=>"margin-top: 17px;bottom:0;float:right"%>
                                         <% else %>
                                               <%= link_to 'book now', "bookingdone?space_id=#{@m[i]}&user_id=#{@user_id}&booking_date=#{params['booking_date']}&start_time=#{DateTime.parse(@start_time).strftime("%I:%M%p")}&end_time=#{DateTime.parse(@end_time).strftime("%I:%M%p")}&booking_time=#{@booking_time_calculate}", :class=> "btn btn-success", :style=>"margin-top: 17px;bottom:0;float:right"%>
                                        <% end %>
                                    <%
                                    
                                    i=i+1
                                      
                                      %><%
                                    end 
                                    %>
                                      

                                    </li>
                                    <% 
                                    end
                                    end %> 
                                    </ul>
                                </div>
                               <div class="col-sm-8">
                                    <div >  
                                        <div id="map" style='width: auto; height: 800px; position: fixed;'></div>  
                                    </div>  
                                </div>
   
                            </div>
                          </div>
                       </div>
                     </div>
                   </div>
  </div>
  
       


<script type="text/javascript">  
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


