<html>
    <head>
    


    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="sidenav ">
                        <div class="side-header">
                            <%= image_tag("user.png", size:"100x100", :class=>"rounded-circle")%>
                            <h5>Owner's Name</h5>
                        </div>
                        <hr>
                        <div class="nav-item">
                            <a href="/owner_dashboard" class="active">Upcoming Bookings</a>
                            <a href="/spaces/1/edit">Spaces Details</a>
                            <a href="#clients">Booking Record</a>
                            <%= link_to 'Profile', edit_user_detail_path(@user_detail) %>
                            <a href="#contact">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mt-5">
                    <center><h1>OWNER DETAILS</h1></center>
                    <br><br><br>
                    

                    <div class="container-fluid space-detail" id="space-details">
                        <br><br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Space Address</h3>
                                <%= form_for @space.space_address do |f| %>
                                    <div class="form-group">
                                        <%= f.label :house_number, 'House Number' %>
                                        <%= f.text_field :house_number, class: 'form-control'%>
                                    </div>
                                    
                                    <div class="form-group">
                                        <%= f.label :street, 'Street' %>
                                        <%= f.text_field :street, class: 'form-control'%>
                                    </div>

                                    <div class="form-group">
                                        <%= f.label :city, 'City' %>
                                        <%= f.text_field :city, class: 'form-control'%>
                                    </div>

                                    <div class="form-group">
                                        <%= f.label :pincode, 'Pincode' %>
                                        <%= f.text_field :pincode, class: 'form-control'%>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :state, 'State' %>
                                        <%= f.text_field :state, class: 'form-control'%>
                                    </div>
                                     <div class="form-group">                                   
                                        <%= f.text_field :latitude, class: 'form-control',id:'latitude'%>
                                    </div>
                                    <div class="form-group">
                                        <%= f.text_field :longitude, class: 'form-control', id:'longitude'%>
                                    </div>
                                   

                                    <h3>Drag marker to get Address</h3>
                                    <% provide :head_tags do %>
                                    <script>
                                    document.addEventListener("DOMContentLoaded", function(){
                                        initMap(<%=@space.space_address.latitude%>, <%=@space.space_address.longitude%>);
                                    });
                                    </script>
                                    <% end %>
                                    

                                    <div id='map'>
                                    </div><br>
                                    
                                    <div>
                                        <%= submit_tag 'Save Changes', :class=> "btn btn-primary" %><br>
                                    </div>


                                <% end %>
                            </div>

                            <div class="col-md-6">
                                <h3>Space Details</h3>
                                <%= form_for @space do |f| %>
                                    <div class="form-group"> 
                                        <%= f.label :size, 'Size' %>
                                        <%= f.text_field :size, class: 'form-control'%>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :Dimensions, 'Dimensions' %>
                                        <%= f.text_field :dimensions, class: 'form-control'%>
                                    </div>
                                    <div class="form-group">   
                                        <%= f.label :floor_number, 'Floor Number' %>
                                        <%= f.text_field :floor_number, class: 'form-control'%>                        
                                    </div>
                                    <div class="form-group">                               
                                        <%= f.label :number_of_toilets, 'Number Of Toilets' %>
                                        <%= f.text_field :number_of_toilets, class: 'form-control'%>                         
                                    </div>
                                    <div class="form-group">                               
                                        <%= f.label :nearby_landmark, 'Nearby Landmark' %>
                                        <%= f.text_field :nearby_landmark, class: 'form-control'%>                         
                                    </div>

                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 image-heading">
                                                <h3>Images</h3>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <%= f.file_field :images %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <%= render "images_carousel", space:@space %>
                                    </div>
                                    
                                    <div>
                                        <%= submit_tag 'Save Changes', :class=> "btn btn-primary" %><br>
                                    </div>


                                <% end %>
                            </div>
                        </div>
                        
                        <br>
                        



                     </div><br>
                </div>
            </div>

        </div>

    </body>
         

</html>