<!DOCTYPE html>
<html>
<head>
   <title>3S-Club</title>
   </head>
<body id="body">
   <% if current_user %>
Logged in as <%= current_user.email %>.
<%= button_to "logout", 'log_out', :method => "delete" %>
<% else %>
<div class="home center-block text-centere">
   <div class="home-text"><h3><span style="color:black">Welcome to</span></h3></div>
   <div class="home-text"><h1><span style="color:green">3S</span><spane style="color:red"> CLUB</spane></h1></div>
<div class="btn-home"><%= button_to "Login", 'login_user', :method => "get" ,:class=>"btn"%></div>
<div class="btn-home" ><%= button_to "Signup As Member", 'sign_up_user', :method => "get",:class=>"btn" %></div>
<div class="btn-home"><%= button_to "Signup As Owner", 'sign_up', :method => "get",:class=>"btn" %></div>
</div>
<% end %>
</body>
</html>
</html>
