<!DOCTYPE html>
<html>
<body>
<% if current_user %>
Logged in as <%= current_user.email %>.
<%= button_to "logout", 'log_out', :method => "delete" %>
<% else %>
<%= button_to "login", 'login_user', :method => "get" %>
<%= button_to "signupUser", 'sign_up_user', :method => "get" %>
<%= button_to "signupOwner", 'sign_up', :method => "get" %>
<% end %>
</body>
</html>