<%=  session[:user_id] %>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="sidenav text-center">
            <%= image_tag("user.png",size:"100x100", :class =>"rounded-circle")%>
            <h5>Member' Name</h5><hr>
               <a href="/searching">Dashboard</a><hr>
               <a href="profile">Profile</a><hr>
               <a href="map">Maps</a><hr>
               <a href="home">Logout</a><hr>
            </div>                        
        </div>
    </div> 
</div>

<div class="col-md-10 mt-5">
<center><h1>OWNER DETAILS</h1></center>
<br><br><br>

<div class='container-fluid'>
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <h2>Account Details</h2><br>
            
                <%= form_for (@space.user) do |f| %>
                    <div class="form-group">
                        <%= f.label :email, 'Email' %>
                        <%= f.text_field :email, class: 'form-control'%>
                        <a id='edit-option' href="">Edit</a>
                    </div>
                    <div class="form-group"> 
                        <%= f.label :password, 'Password' %>
                        <%= f.password_field :password, class: 'form-control'%>
                    </div>
                    <div class="form-group"> 
                        <%= f.label :password_confirmation, 'Confirm Password' %>
                        <%= f.password_field :password_confirmation, class: 'form-control'%>
                    </div>
                
                    
                    <div>
                        <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                    </div>


                <% end %>     
            </div>
        </div>


</body>