

  
  <body style="background: #e8e9eb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-xs-2">
        <div class="sidenav sidenav-collapse"  data-toggle="" id="demo">
  <div class="side-header">
    <%= image_tag("user.png", size:"100x100", :class=>"rounded-circle")%>
    <h5>Owner's Name</h5>
  </div>
  <hr>
  <div class="nav-item">
  <a href="#about" class="active">Upcoming Bookings</a>
  <a href="#services">Spaces Details</a>
  <a href="#clients">Booking Record</a>
  <a href="#contact">Profile</a>
  <a href="#contact">Log Out</a>
  </div>
  </div>
  </div>
      <div class="col-sm-10 col-xs-10">
        <div class="main">
         <div class="container-fluid">
            <button class="hidden visible-xs" style="float: right" data-toggle="collapse" data-target="#demo"  aria-expanded="false" aria-controls="demo">collapse</button>
            <h4>Upcoming Bookings</h4><hr>
            <div class="row text-center">
                <div class="col-sm-3">
                <%= form_for @ubr, :url => view_details_path(@ubr), :method=> "post" do |f| %>
                  <div class="card">
                    <%= image_tag("space.jpg",:class =>"card-img-top")%>
                    <div class="card-block bg-white">
                       <div class="card-title "><h6><%= @address.street%></h6></div>
                    </div> 
                   <button type="submit"><div class="card-footer">View Details</div></button>    
                  </div>
                  </div>
                <% end %>
            </div><hr>
            <div class="row mt-4">
              <div class="col-sm-10">
                <h4>Booked spaces</h4>
                <ul class="list-group">
                <% @br.each do |booking_record|%>
                  <% space=Space.find_by(id:booking_record.space_id)%>
                  <% member=User.find_by(id:booking_record.user_id)%>
                  <% member_detail=member.user_detail%>
                  <% address=space.space_address%>
                  
                <li class="list-group-item ">
                  <div class="media">
                    <div class="media-left">
                    <%= image_tag("space.jpg", :class =>"media-object")%>
                    <p><%= address.street%> <%= address.city%> <%= address.state%> (<%= address.pincode%>)</p>
                     </div>
                    <div class="media-body text-right">
                      <h5><i>Booked by -</i> <%= member_detail.fist_name %> <%= member_detail.last_name%></h5>
                      <p><i>Date </i> <%= booking_record.created_at.strftime("%d/%m/%y")%></p>
                      <p><i>Time</i> </p>
                      <h4>Booked</h4>
                       <button class="btn btn-primary">Details</button>
                    </div>
                  </div>
                </li>  
                <% end %>            
            </ul>
              </div>
              
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</body>