<body style="background: #e8e9eb">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
      <%= render "layouts/sidebar" %>
  </div>
      <div class="col-lg-10 col-sm-12 mt-3">
        <div class="main">
         <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-sm-12 space-details">
              <div class="container-fluid  bg-light mb-5 details">
                <center><h3>Space Details</h3></center><hr>
                <div>
                     <%= image_tag @space.images.first, style:"height:220px;width:100%" %>
                     <h6 ><%=@address.street%> <%=@address.city%> <%=@address.state%> (<%=@address.pincode%>)</h6>
                </div><hr>
                <div>
                  <label for="size">Size</label>
                  <input type="text" id="size" class="form-control" value="<%= @space.size%> sq ft." disabled>
                  <label for="date">Date</label>
                  <input type="text" id="date" class="form-control" value="<%= @br.booking_date%>" disabled>
                  <label for="days">Days</label>
                  <input type="text" id="days" class="form-control" value="<%= @br.booking_date.to_date.strftime("%A")%>" disabled>
                  <label for="timing">Timing</label>
                  <input type="text" id="timing" class="form-control" value="<%= @br.start_time.strftime("%H:%M")%>-<%= @br.end_time.strftime("%H:%M")%>" disabled><br>
                  
                </div>
              </div>
            </div>
             <div class="col-lg-6 col-sm-12 member-details">
               <div class="container-fluid bg-light mb-5 pb-5 details">
                <center><h3>Member Details</h3></center><hr>
                <div>
                     <center><%= gravatar_for @user, style:"heigth:150px;width:150px;" %><hr>
                     <h4><%= @member_details.first_name.capitalize%> <%= @member_details.last_name.capitalize%></h4>
                      <%= link_to 'Contact Member', conversations_path(user_id: @member), remote: true, method: :post ,class: 'btn btn-success' %>

                     </center>
                </div><hr>
                <div>
                  <label for="address">Address</label>
                  <input type="text" id="address" class="form-control" value="<%= @member_details.city%>" disabled>
                  <label for="mobile">Mobile Number</label>
                  <input type="text" id="mobile" class="form-control" value="<%= @member_details.mobile_number%>" disabled>
                  <label for="email">Email</label>
                  <input type="text" id="email" class="form-control" value="<%= @member.email%>" disabled>
                  <label for="qualification">Qualification</label>
                  <input type="text" id="qualification" class="form-control" value="<%= @member_details.education_details%>" disabled><br>
                  
                 
                  <footer class="btn btn-success" style="width: 100%">Member Ship Plan</footer>

                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</body>
