<body style="background: #e8e9eb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-xs-2">
        <div class="sidenav">
  <div class="side-header">
    <%= image_tag("user.png",:class=> "rounded-circle",size:"100x100")%>
    <h4>Owner's Name</h4>
  </div>
  <hr>
  <div class="nav-item">
  <a href="/owner_dashboard">Upcoming Bookings</a>
  <a href="#services">Spaces Details</a>
  <a href="/booking_records">Booking Record</a>
  <a href="#contact">Profile</a>
  <a href="/logout">Log Out</a>
  </div>
  </div>
  </div>
      <div class="col-sm-10 col-xs-10">
        <div class="main">
         <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="container-fluid bg-light mb-2">
                <center><h3>Space Details</h3></center><hr>
                <div>
                     <img src="assets/space-87e83c8b3dacf75cb8280d875ef0fe237ec76830b80b0514a0b573f5bcc345fd.jpg" alt="spaces" height="200px" width="100%">
                     <h6 ><%=@address.street%> <%=@address.city%> <%=@address.state%> (<%=@address.pincode%>)</h6>
                </div><hr>
                <div>
                  <label for="size">Size</label>
                  <input type="text" id="size" class="form-control" value="<%= @space.size%> sq ft." disabled>
                  <label for="date">Date</label>
                  <input type="text" id="date" class="form-control" value="<%= @br.created_at.strftime("%d/%m/%y")%>" disabled>
                  <label for="days">Days</label>
                  <input type="text" id="days" class="form-control" value="Mon-Sat" disabled>
                  <label for="timing">Timing</label>
                  <input type="text" id="timing" class="form-control" value="<%= @time.start_time.strftime("%H:%M")%>-<%= @time.end_time.strftime("%H:%M")%>" disabled><br>
                  
                </div>
              </div>
            </div>
             <div class="col-sm-6">
               <div class="container-fluid bg-light mb-2">
                <center><h3>Member Details</h3></center><hr>
                <div>
                     <center><img src="/assets/user-1a2e20cc944c895a698cc7855cd5eb338ab82342715346cd202b1f2157cb55a9.png" class="rounded-circle"  alt="spaces" height="100px" width="100px"><hr>
                     <h4><%= @member_details.first_name.capitalize%> <%= @member_details.last_name.capitalize%></h4>
                     </center>
                </div><hr>
                <div>
                  <label for="address">Address</label>
                  <input type="text" id="address" class="form-control" value="<%= @member_details.city%>" disabled>
                  <label for="mobile">Mobile Number</label>
                  <input type="text" id="mobile" class="form-control" value="<%= @member_details.mobile_number%>" disabled>
                  <label for="email">Email</label>
                  <input type="text" id="email" class="form-control" value="<%= @member.email%>" disabled>
                  <label for="qualification">Qualification</label>
                  <input type="text" id="qualification" class="form-control" value="<%= @member_details.education_details%>" disabled><br>
                  <footer class="btn btn-success" style="width: 100%">Short-Term</footer>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</body>
