<html>
    <head>
    


    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <%= render "layouts/sidebar"%>
                </div>
                <div class="col-lg-10 col-sm-12 mt-5">
                    <center><h1>OWNER DETAILS</h1></center>
                    <br><br><br>

                    <div class='container-fluid'>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 mb-5">
                                <div class="container-fluid">
                                    <h2>Account Details</h2><br>
                                
                                    <%= form_for (@user) do |f| %>
                                        <div class="form-group">
                                            <%= f.label :email, 'Email' %>
                                            <%= f.email_field :email, class: 'form-control'%>
                                        </div>
                                        <div class="form-group"> 
                                            <%= f.label :current_password, 'Current Password' %>
                                            <%= f.password_field :current_password, class: 'form-control',id:'user_old_password'%>
                                        </div>
                                        <div class="form-group"> 
                                            <%= f.label :password, 'New Password' %>
                                            <%= f.password_field :password, class: 'form-control'%>
                                            <span id="span_password_error" class="error-text"></span>
                                        </div>
                                        <div class="form-group"> 
                                            <%= f.label :password_confirmation, 'Confirm Password' %>
                                            <%= f.password_field :password_confirmation, class: 'form-control'%>
                                            <span id="span_password_confirmation_error" class="error-text"></span>
                                        </div>
                                        
                                        
                                        <div>
                                            <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                                        </div>


                                    <% end %>     
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                    <div class="container-fluid">
                                        <h2>Personal Details</h2><br>
                                        <%@user_detail=@user.user_detail%>
                                        <%=form_for (@user.user_detail)  do |f| %>
                                            
                                            <div class="form-group">   
                                                <%= f.label :first_name, 'First Name' %>
                                                <%= f.text_field :first_name, class: 'form-control'%>  
                                                <span id="span_first_name_error" class="error-text"></span>                      
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :last_name, 'Last Name' %>
                                                <%= f.text_field :last_name, class: 'form-control'%>
                                                <span id="span_last_name_error" class="error-text"></span>                         
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :about_owner, 'About Owner' %>
                                                <%= f.text_field :about_user, class: 'form-control'%>
                                                <span id="span_about_owner_error" class="error-text"></span>                         
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :phone_number, 'Phone Number' %>
                                                <%= f.number_field :phone_number, class: 'form-control'%> 
                                                <span id="span_phone_number_error" class="error-text"></span>                        
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :mobile_number, 'Mobile Number' %>
                                                <%= f.number_field :mobile_number, class: 'form-control'%> 
                                                <span id="span_mobile_number_error" class="error-text"></span>                        
                                            </div>
                                            <div>
                                                <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                                            </div>


                                        <% end %>
                                    </div>
                            </div>
                        </div>
                    
                    </div>
                    <br><br>
                    
                    <br>
                    <div class='container-fluid'>
                        <div class="row">
                            <%@user_addresses.each do |user_address| %>
                                
                                <div class="col-md-6 col-sm-6">
                                <%@user_address_type=UserAddressType.find(user_address.user_address_type.id)%>
                                 <h2><%=@user_address_type.address_type%></h2>
                                    <br>
                                    <%=form_for user_address do |f| %>
                                    
                                        <div class="container-fluid">
                                            
                                                <div class="form-group">
                                                    <%= f.label :address_line_1, 'Address Line 1' %>
                                                    <%= f.text_field :address_line_1, class: 'form-control'%>
                                                    <span id="span_address_line_1_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                            
                                           
                                                <div class="form-group"> 
                                                    <%= f.label :address_line_2, 'Address Line 2' %>
                                                    <%= f.text_field :address_line_2, class: 'form-control address-line-2'%>
                                                    <span id="span_address_line_2_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                            
                                                <div class="form-group"> 
                                                    <%= f.label :city, 'City' %>
                                                    <%= f.text_field :city, class: 'form-control city'%>
                                                    <span id="span_city_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                            
                                           
                                                <div class="form-group"> 
                                                    <%= f.label :pincode, 'Pincode' %>
                                                    <%= f.number_field :pincode, class: 'form-control pincode'%>
                                                    <span id="span_pincode_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                         
                                            
                                                <div class="form-group"> 
                                                    <%= f.label :state, 'State' %>
                                                    <%= f.text_field :state, class: 'form-control state'%>
                                                    <span id="span_state_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                          
                                            
                                                <div class="form-group"> 
                                                    <%= f.label :country, 'Country' %>
                                                    <%= f.text_field :country, class: 'form-control country'%>
                                                    <span id="span_country_error_<%=@user_address_type.id%>" class="error-text"></span>
                                                </div>
                                         
                                        
                                            <div>
                                                <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                                            </div>
                                            <br>
                                        
                                        </div>
                                    <%end%>
                                </div>
                            <% end %> 
                                    
                            
                            

                            
                        </div>
                    
                    </div>

                </div>

        </div>

    </body>
         

</html>