<html>
    <head>
    


    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="sidenav ">
                        <div class="side-header">
                            <%= image_tag("user.png", size:"100x100", :class=>"rounded-circle")%>
                            <h5>Owner's Name</h5>
                        </div>
                        <hr>
                        <div class="nav-item">
                            <a href="/owner_dashboard" class="active">Upcoming Bookings</a>
                            <a href="/spaces/1/edit">Spaces Details</a>
                            <a href="#clients">Booking Record</a>
                            <%= link_to 'Profile', edit_user_detail_path(@user_detail) %>
                            <a href="#contact">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mt-5">
                    <center><h1>OWNER DETAILS</h1></center>
                    <br><br><br>

                    <div class='container-fluid'>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <h2>Account Details</h2><br>
                                
                                    <%= form_for (@user) do |f| %>
                                        <div class="form-group">
                                            <%= f.label :email, 'Email' %>
                                            <%= f.text_field :email, class: 'form-control'%>
                                            <a id='edit-option' href="">Edit</a>
                                        </div>
                                        <div class="form-group"> 
                                            <%= f.label :password_digest, 'Password' %>
                                            <%= f.password_field :password_digest, class: 'form-control', placeholder:'*****'%>
                                        </div>
                                        <div class="form-group"> 
                                            <%= f.label :password_confirmation, 'Confirm Password' %>
                                            <%= f.password_field :password_confirmation, class: 'form-control'%>
                                        </div>
                                    
                                        
                                        <div>
                                            <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                                        </div>


                                    <% end %>     
                                </div>
                            </div>

                            <div class="col-md-6">
                                    <div class="container-fluid">
                                        <h2>Personal Details</h2><br>
                                        <%@user_detail=@user.user_detail%>
                                        <%=form_for (@user.user_detail)  do |f| %>
                                            
                                            <div class="form-group">   
                                                <%= f.label :first_name, 'First Name' %>
                                                <%= f.text_field :fist_name, class: 'form-control'%>                        
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :last_name, 'Last Name' %>
                                                <%= f.text_field :last_name, class: 'form-control'%>                         
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :about_owner, 'About Owner' %>
                                                <%= f.text_field :about_user, class: 'form-control'%>                         
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :phone_number, 'Phone Number' %>
                                                <%= f.text_field :phone_number, class: 'form-control'%>                         
                                            </div>
                                            <div class="form-group">                               
                                                <%= f.label :mobile_number, 'Mobile Number' %>
                                                <%= f.text_field :mobile_number, class: 'form-control'%>                         
                                            </div>
                                            <div>
                                                <%= submit_tag 'Save Changes', class: "btn btn-primary" %>
                                            </div>


                                        <% end %>
                                    </div>
                            </div>
                        </div>
                    
                    </div>
                    


                    <br><br><br>

                    


                    <br><br><br>


                    <div class="container-fluid">
                        <h2>Your Spaces</h2>
                        <br><br>
                        <div class="row">
                            
                            <%@user.spaces.each do |space|%>

                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header"><%= space.space_name%><%= link_to 'Remove', space, id:'del-space-link',method: :delete, data: { confirm: 'Are you sure?' } %>  </div>
                                        <div class="card-body">
                                            <% if space.images.attached?%>
                                                <%space.images.each do |image|%>
                                                    <%if image == space.images.first%>

                                                        <div class="img"> 
                                                            <%= image_tag image,class: "img-thumbnail" %>
                                                        </div>
                                                    <%end%>
                                                <%end%>

                                            <%else%>
                                                <div class="img"> 
                                                        <%= image_tag "plus-icon.png",class: "img-thumbnail" %>
                                                </div>
                                            <%end%>
                                        </div> 
                                        <div class="card-footer"><%= link_to 'View Details', edit_space_path(space) %></div>
                                    </div><br>
                                </div>

                            <%end%>
                            
                            <br><br>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header">Add More Spaces</div>
                                    <div class="card-body">
                                        <a href="/spaces/new">
                                                <%= image_tag "plus-icon.png",class:'img',id:'add-space-icon' %>
                                        </a>
                                    </div> 
                                    <div class="card-footer">Tap to add more</div>
                                </div><br>

                            </div>

                        <div>

                    </div>

                </div>

        </div>

    </body>
         

</html>